# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Large Model Files (REMOVE if you want to upload your trained model)
*.pt
*.pth

# Generated Data
data/
dataset/
raw_frames/

# Temporary Files
temp_*.jpg

# DeepFace / InsightFace auto downloads
.deepface/
.insightface/

# OS Files
.DS_Store
Thumbs.db

# Uvicorn cache
*.log