# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Model / Weight Files
*.h5
*.onnx
*.pt
*.pth

# Generated Data
data/embeddings/
data/extracted-faces/
data/images/

# DeepFace / InsightFace auto downloads
.deepface/
.insightface/

# OS Files
.DS_Store
Thumbs.db
